<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basic"
        tools:targetApi="31">
        <activity
            android:name=".feature.backup.select_file.SelectFileActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.backup.waiting_share.WaitingSenderActivity"
            android:exported="false"
            android:theme="@style/WaitingSenderScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.backup.receive_file.ReceiveFileBlutoothActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.backup.share_file.ShareFileActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.whatsapp_wep.WAWebActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.deleted_recover.DeletedRecoverActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.status_saver.StatusSaverActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.toolkit.ToolkitActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.UserActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.user.faqs.FAQsActivity"
            android:exported="false"
            android:theme="@style/AppThem"/>
        <activity
            android:name=".feature.backup.CoutryPhoneActivity"
            android:exported="false"
            android:theme="@style/AppThem">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".feature.backup.BackupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThem"/>
        <activity
            android:name=".feature.guide_backup.GuideBackupActivity"
            android:exported="false"
            android:theme="@style/AppThem" />
        <activity
            android:name=".feature.home.HomeActivity"
            android:exported="true"
            android:theme="@style/AppThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>